@{ 
    Layout = "_Layout";
}

<form class="container my-3" action="/Home/UpdateUser" method="post">
    <div class="form-group">
        <label for="exampleFormControlInput1">First Name</label>
        <input type="text"
               class="form-control"
               id="exampleFormControlInput1"
               name="FirstName" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Last Name</label>
        <input type="text"
               class="form-control"
               id="exampleFormControlInput1"
               name="LastName" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Patronimyc</label>
        <input type="text"
               class="form-control"
               id="exampleFormControlInput1"
               name="Patronymic" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Adress</label>
        <input type="text"
               class="form-control"
               id="exampleFormControlInput1"
               name="Adress" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Number Phone</label>
        <input type="text"
               class="form-control"
               id="exampleFormControlInput1"
               name="NumberPhone" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Description</label>
        <input type="text"
               class="form-control"
               id="exampleFormControlInput1"
               rows="3"
               name="Description" />
    </div>
   <p><input type="submit" value="Update" class="my-3 btn btn-primary container"/></p>
</form>
